<div class="w-full flex justify-center gap-1 flex-wrap">
  @for (button of this.buttons; track button) {
  <a #btn class="group bg-primary-700 hover:bg-primary-600 dark:bg-primary-700 dark:hover:bg-primary-600
  p-2 rounded-full md:rouned-3xl flex items-center shadow-custom text-white {{this.btnClass}} mb-3"
    [attr.href]="button.url || null" [attr.target]="button.url ? '_blank' : null"
    [attr.aria-label]="button.name | translate" rel="noopener noreferrer"
    >
    <div class="w-16 grid place-items-center">
      <i class="text-3xl justify-center text-white" [class]="'ph ' + button.icon" aria-hidden="true"></i>
    </div>
    <span
      class="motion-safe:transition-all duration-200 whitespace-nowrap origin-left max-w-prose pr-3 overflow-hidden xl:pr-0 xl:max-w-0 font-barlow font-semibold text-lg text-white {{ expandClasses() }}">
      {{ button.name | translate }}&nbsp;
    </span>
  </a>
  }
</div>
