<div class="mx-auto md:w-4/5 md:p-10 space-y-3 font-semibold"
  (appear)="this.show = true">

  <div class="text-center">
    <h1 class="name transition text-primary-500 dark:text-primary-400" [@load]>Wojciech</h1>
    <h1 class="name transition text-primary-500 dark:text-primary-400" [@load]>Duda</h1>
    <h2
      class="text-xl md:text-2xl pt-8 text-page-foreground mx-auto w-fit wrap-break-word"
      [@load]="{value:'', params: {delay: 500 / visited}}">{{ 'about.title' | translate }}
      <div class="border-b border-page-border mx-auto mt-2" [@underline]>
      </div>
    </h2>
  </div>

  <p class="w-4/5 xl:w-2/5 pt-6 pb-6 mx-auto text-lg text-center text-page-foreground font-lato"
    [@load]="{value:'', params: {delay: 1200 / visited}}">
    {{ 'about.description' | translate}}</p>
  <app-buttons-bar [buttons]="this.buttons"
    [@load]="{value:'', params: {delay: 1500 / visited}}" [expanded]="true"></app-buttons-bar>
  <div
    class="w-full flex justify-center pt-6 animate-pulse [animation-duration:8s] [animation-timing-function:ease]"
    [@load]="{value:'', params: {delay: 2000 / visited}}">
    <a href="#education">
      <i class="text-6xl ph-arrow-down text-primary-600 dark:text-primary-400 scale-125"></i>
    </a>
  </div>
</div>

<app-hr [@load]="{value:'', params: {delay: 2400/visited, duration: 1}}"></app-hr>
