<div class="absolute top-0 right-0 md:right-5 md:top-5 flex gap-2 z-50">
  <button (click)="this.toggleDarkMode()"
    class="h-8 w-8 p-1 bg-emerald-300 dark:bg-emerald-700 rounded-xl hover:scale-110 transition-all cursor-pointer grid place-items-center text-emerald-900 dark:text-emerald-100 border-none">
    <i class="text-xl ph" [class]="this.darkMode() ? 'ph-sun' : 'ph-moon'"></i>
  </button>
  <img (click)="this.toggleLanguage()"
    class="h-8 w-auto p-1 bg-emerald-300 dark:bg-emerald-700 rounded-xl hover:scale-110 transition-all cursor-pointer"
    [src]="this.flag()" a-hideNotLoaded />
</div>
<button class="opacity-0 text-3xl hover:opacity-100 absolute top-0 left-0"
  (click)="this.secret()">🤫</button>
<app-about></app-about>

<app-heading id="work" text="about.education"></app-heading>
<app-education-timeline></app-education-timeline>
<app-heading id="work" text="about.work"></app-heading>
<app-list type="work"></app-list>
<app-hr></app-hr>
<app-heading id="projects" text="about.projects"></app-heading>
<app-list type="projects"></app-list>-
<footer class="pt-10 text-center font-bahnschrift">
  <i class="ph ph-copyright"></i>&nbsp;Wojciech Duda 2026
</footer>
