.path-0,
.path-1 {
	--duration: 40s;
}
svg:first-child {
	transform: rotate(180deg);
}
svg:last-child {
	transform: scaleX(-1);
	margin-top: -0.25rem;
}
.path-0 {
	animation: pathAnim-0 var(--duration);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
	0%,
	100% {
		d: path(
			"M 0,600 C 0,600 0,200 0,200 C 41,226 82,252 123,262 C 163,271 203,263 244,246 C 284,228 325,201 370,216 C 414,230 461,284 507,269 C 552,253 597,166 642,164 C 686,161 730,244 772,254 C 813,263 852,199 905,173 C 957,146 1022,157 1065,174 C 1107,190 1127,212 1160,202 C 1192,191 1239,146 1288,141 C 1336,135 1388,167 1440,200 C 1440,200 1440,600 1440,600 Z"
		);
	}
	25% {
		d: path(
			"M 0,600 C 0,600 0,200 0,200 C 51,172 102,145 144,153 C 185,160 218,201 258,205 C 297,208 342,175 391,164 C 439,152 492,164 533,165 C 573,165 602,155 640,160 C 677,164 722,182 773,197 C 823,211 880,220 931,212 C 981,203 1025,175 1057,158 C 1088,140 1107,133 1153,129 C 1198,124 1269,121 1322,134 C 1374,146 1407,173 1440,200 C 1440,200 1440,600 1440,600 Z"
		);
	}
	50% {
		d: path(
			"M 0,600 C 0,600 0,200 0,200 C 37,228 75,257 116,250 C 156,242 201,199 242,177 C 282,154 320,153 371,155 C 421,156 485,159 534,162 C 582,164 617,166 659,157 C 700,147 748,126 788,128 C 827,129 856,154 895,175 C 933,195 980,213 1035,223 C 1089,232 1152,234 1193,242 C 1233,249 1250,263 1288,258 C 1325,252 1382,226 1440,200 C 1440,200 1440,600 1440,600 Z"
		);
	}
	75% {
		d: path(
			"M 0,600 C 0,600 0,200 0,200 C 47,194 95,189 139,179 C 182,168 223,151 266,136 C 308,120 354,106 396,128 C 437,149 476,207 524,234 C 571,260 629,255 667,238 C 704,220 723,189 767,173 C 810,156 880,152 928,162 C 975,171 999,193 1040,177 C 1080,160 1135,106 1188,127 C 1240,147 1289,244 1331,269 C 1372,293 1406,246 1440,200 C 1440,200 1440,600 1440,600 Z"
		);
	}
}
.path-1 {
	animation: pathAnim-1 var(--duration);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
	0%,
	100% {
		d: path(
			"M 0,600 C 0,600 0,400 0,400 C 29,389 59,379 111,402 C 162,424 235,480 281,473 C 326,465 343,393 380,361 C 416,328 473,336 517,343 C 560,349 589,354 637,367 C 684,379 748,400 797,391 C 845,381 877,340 916,329 C 954,317 999,336 1046,370 C 1092,403 1142,452 1183,453 C 1223,453 1256,406 1298,390 C 1339,373 1389,386 1440,400 C 1440,400 1440,600 1440,600 Z"
		);
	}
	25% {
		d: path(
			"M 0,600 C 0,600 0,400 0,400 C 57,375 114,351 154,350 C 193,348 215,369 252,372 C 288,374 340,357 384,376 C 427,394 462,447 505,461 C 547,474 595,448 640,424 C 684,399 723,375 774,384 C 824,392 886,434 928,432 C 969,429 991,383 1034,378 C 1076,372 1138,406 1187,425 C 1235,443 1270,447 1310,441 C 1349,434 1394,417 1440,400 C 1440,400 1440,600 1440,600 Z"
		);
	}
	50% {
		d: path(
			"M 0,600 C 0,600 0,400 0,400 C 37,389 75,379 122,394 C 168,408 224,448 271,429 C 317,409 356,332 395,340 C 433,347 473,441 517,460 C 560,478 608,421 658,388 C 707,354 757,343 796,351 C 834,358 860,384 906,390 C 951,395 1015,379 1058,375 C 1100,370 1122,376 1166,387 C 1209,397 1274,413 1324,417 C 1373,420 1406,410 1440,400 C 1440,400 1440,600 1440,600 Z"
		);
	}
	75% {
		d: path(
			"M 0,600 C 0,600 0,400 0,400 C 45,357 90,314 137,334 C 183,353 231,434 270,452 C 308,469 335,425 379,411 C 422,396 480,413 530,425 C 579,436 618,441 654,418 C 689,394 721,341 768,343 C 814,344 877,401 921,399 C 964,396 990,336 1036,357 C 1081,377 1148,479 1193,474 C 1237,468 1260,355 1298,325 C 1335,294 1387,347 1440,400 C 1440,400 1440,600 1440,600 Z"
		);
	}
}
