<article
  class="sm:pb-3 black mt-10 sm:mt-0 h-full flex flex-col border-page-border transition-colors duration-300">
  @if (this.project.images.length > 0) {
  <app-lightbox [images]="this.project.images" [alt]="('projects.' + this.project.name + '.imageAlt') | translate"
    class="flex-none block w-full h-64 mt-5 px-5 sm:pb-16">
    <div class="w-full h-full flex items-center justify-center">
      <img [ngSrc]="this.project.images[0].src" [alt]="('projects.' + this.project.name + '.imageAlt') | translate"
        [width]="this.project.images[0].width" [height]="this.project.images[0].height"
        class="w-auto h-auto max-w-full max-h-full" decoding="async">
    </div>
  </app-lightbox>
  }
  <div class="w-full p-2 sm:pb-5 grow">
    <h3
      class="text-4xl font-bold text-center mt-10 md:mt-4 font-josefin text-primary-500 dark:text-primary-400 stroke w-full">
      {{ ('projects.'+this.project.name+'.title') | translate }}</h3>
    <div
      class="basis-full text-center mx-5 mt-4 font-lato text-base lg:text-lg tracking-tight leading-tight text-page-foreground/80 transition-colors duration-300">
      @for (paragraph of ('projects.'+this.project.name+'.description') | translate; track
      paragraph) {
      <p class="mt-1">{{ paragraph }}</p>
      }
    </div>
  </div>
  <app-tag-bar class="w-full mt-auto basis-32 xl:basis-0"
    [tags]="this.tags" [year]="this.project.year"></app-tag-bar>
</article>
